@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

.App {
  background-color: #eafbff;
  background-image: linear-gradient(
    to bottom,
    var(--background_1) 0%,
    var(--background_1) 50%,
    var(--background_2) 50%,
    var(--background_2) 100%
  );
  font-family: "Muli", sans-serif;
  color: var(--text-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

