body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --background_1: #eafbff;
  --background_2: #5290f9;

  --breed-card: #d14a4a;

  --random-bg: #fff;
  --random-btn: #9f68e0;

  --pagination-active: #000;
}
[data-theme="dark"] {
  --background_1: #007793;
  --background_2: #032660;

  --breed-card: brown;

  --random-bg: #b3b3b3;
  --random-btn: #551f96;

  --pagination-active: #fff;
}

.ul_tag {
  list-style-type: none;
  padding: 5px;
  margin: 5;
  border: 2px solid red;
}

.active_a {
  color: var(--pagination-active) !important;
  opacity: 1 !important;
}

.li_tag {
  padding: 15px;
  background-color: transparent;
  opacity: 0.7;
}

.li_tag a {
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
  color: red;
}
